<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module dist:instant="true" />

    <queries>
        <package android:name="in.amazon.mShop.android.shopping" />
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />

        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>

        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/zust_app_square_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/zust_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomSplashScreenTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".zustFood.ZustFoodEntryActivity"
            android:theme="@style/Theme.ZustApp"
            android:exported="false" />
        <activity
            android:name=".locationV2.LocationPermissionActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp" />
        <activity
            android:name=".OrderConfirmationIntermediateActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".address.AddNewAddressActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".rapidwallet.RapidWalletActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".address.GoogleMapsAddressActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".onboarding.OnBoardingActivity"
            android:exported="true"
            android:theme="@style/Theme.CustomSplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".productDetails.presentation.ProductDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".refer.ReferAndEarnActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".offline.OfflineActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".webpage.InAppWebActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".track.MapsActivity"
            android:exported="true"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".address.AddressSearchActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".orderHistory.MyOrdersActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".orderDetail.OrderDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".payment.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HomeLandingActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.zustapp.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.zustapp.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchProductActivity"
            android:exported="true"
            android:theme="@style/Theme.ZustApp"
            android:windowSoftInputMode="adjustResize|adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".coupon.CouponListingActivity"
            android:exported="true"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ZustApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".product.ProductListingActivity"
            android:exported="true"
            android:theme="@style/Theme.ZustApp"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".orderSummary.OrderSummaryActivity"
            android:exported="true"
            android:theme="@style/Theme.ZustApp"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BaseActivityWithLocation"
            android:exported="true"
            android:theme="@style/Theme.ZustApp"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".fcm.CustomFcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".services.SMSReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            tools:node="replace">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND"
            tools:node="replace">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key_geo" />
    </application>

</manifest>